* {
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  width: 100%;
}

.topmiddle{
  background-color: #eae1d8;
}

.top{
  border-bottom: 1px solid gray;
  font-size: 0.8rem;
  height: 5vh;
}

.tleft{
  position: absolute;
  top: 12px;
  left: 12px;
}

.tright{
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 2px;
  border: 1px solid gray;
}

.middle{
  display: flex;
  padding: 10px;
  height: 62px;
  font-size: 0.8rem;
  justify-content: space-between;
}

.mleft, .mright {
  display: flex;
  align-items: center;
}

.mleft{
  padding-left: 30px;
}

.mright{
  padding-right: 30px;
}

.mleft>span>img{
  height: 42px;
  width: 42px;
}

.mright>span>input{
  background-color: transparent;
  border: none;
  line-height: 34px;
  font-size: 14px;
  color: black;
  text-align: center;
}

.bottom{
  position: relative;
  padding: 15px;
  margin: 15px;
  border-bottom: 1px solid gray;
}

.bleft{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;
}

.bleftbox{
  height:100%;
  display: flex;
  align-items: center;
}

.bleftbox>span{
  background-color: #eae1d8;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}


#logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: Helvetica, '나눔고딕', 'Nanum Gothic', '나눔스퀘어', 'Nanum Square', 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;
}
